.btn-exercise {
    min-height: 48px;
    width: 100%;
    border-radius: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    border: 2px solid #F99F1E;
    background-color: #F99F1E;
    color: #FFFFFF;
    margin-top: 1rem;
    justify-content: center;
}

.exercise-card-container {
    border-radius: 10px;
    border: 1px solid rgba(53, 58, 62, 0.3);
    height: 9rem;
}

.exercise-card-content {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #353A3E;
    word-spacing: 3rem;
}