.btn-exercise {
    min-height: 48px;
    width: 100%;
    margin-left: 0;
    border-radius: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    border: 2px solid #353A3E;
    background-color: #353A3E;
    color: #FFFFFF;
    margin-top: 1rem;
    justify-content: center;
}

.btn-exercise-white {
    min-height: 48px;
    width: 100%;
    margin-left: 0;
    border-radius: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    border: 2px solid #353A3E;
    background-color: #FFFFFF;
    color: #353A3E;
    margin-top: 1rem;
    justify-content: center;
    text-align: center;
    vertical-align: center;
}

.exercise-form {
    padding: 1rem;
    width: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.form-input {
    max-width: 5rem;
}

.form-headers {
    font-size: 7rem;
}

.exercise-card-container {
    border-radius: 10px;
    border: 1px solid rgba(53, 58, 62, 0.3);
    height: 9rem;
}

.exercise-card-content {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #353A3E;
    word-spacing: 3rem;
}

.modal-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #353A3E;
    text-align: center;
    align-content: center;
    align-items: center;
}

.num-input-group {
    display: flex;
    position: absolute;
    right: 3rem;
    top: 1px;
}

.select-video-container {
    flex-direction: row;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    text-align: center;
    border: 1px solid #ccc;
    display: flex;
    padding: 6px 12px;
    cursor: pointer;
}