.edit-modal-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #353A3E;
}

.modal-text-row {
    display: flex;
    align-items: center;
    vertical-align: top;
    justify-content: left;
    margin: 1rem;
    padding: 1rem;
}

.btn-exercise {
    min-height: 48px;
    width: 100%;
    border-radius: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    border: 2px solid #F99F1E;
    background-color: #F99F1E;
    color: #FFFFFF;
    margin-top: 1rem;
    justify-content: center;
    margin: 1rem;
}

.btn-exercise-exit {
    min-height: 48px;
    width: 100%;
    border-radius: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    border: 2px solid #F99F1E;
    background-color: #FFFFFF;
    color: #F99F1E;
    margin-top: 1rem;
    justify-content: center;
}

.exercise-card-container {
    border-radius: 10px;
    border: 1px solid rgba(53, 58, 62, 0.3);
    height: 9rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.exercise-card-content {
    word-spacing: 1.5rem;
    line-height: 1rem;
}
