@import url(http://fonts.googleapis.com/css?family=Montserrat);

.login-container {
    width: 35%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.168px;
    color: #FFFFFF;
    border: 1px solid red;
}

.form-control::selection {
    background-color: transparent;
}

.login-logo {
    margin-left: 1rem;
}

.login-input {
    padding: 0.5rem;
    border-radius: 15px;
    border: 2px solid #FFFFFF;
    border-left: 0;
    background-color: transparent;
    color: #FFFFFF;
    justify-content: center;
}

.login-input::placeholder {
    color: #FFFFFF;
}

span.login-icon.input-group-text {
    margin-left: 1rem;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: none;
}

span.login-icon-right.input-group-text {
    margin-right: 1rem;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: none;
}

.passbar {
    border-right: 0;
}

.input-group-text {
    border: none;
    color: #FFFFFF;
}

.input-group {
    padding: 0.5rem 0;
}

.btn {
    width: 100%;
    padding: 0.5rem 0;
    border-radius: 15px;
    font-size: 16px;
    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #F99F1E;
}

.btn:hover {
    background-color: transparent;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}

.btn-login {
    padding: 0.5rem;
    border-radius: 15px;
    font-size: 16px;
    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #F99F1E;
    margin-top: 1rem;
}

.btn-login:hover {
    background-color: transparent;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}

.forgot-text {
    margin-top: 1.5rem;
    float: right;
    font-size: 12px;
    color: #FFFFFF;
}

.remember-text {
    margin-top: 1rem;
    font-size: 15px;
    color: #FFFFFF;
}


@media only screen and (max-width: 770px) {
    .login-container {
        width: 100vw;
    }
}


